@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "TikTok Sans", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary{
    color: white;
    background: orange;
    border: 3px solid green;
    border-radius: 20px;
}

.btn-primary:hover,
.btn-secondary:hover{
    background: green;
    color: orange;
}

.btn-secondary{
    color: white;
    background: orange;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: 2rem;

}


header{
    height: 100vh;
    background-color: rgb(252, 226, 191);
    position: relative;
    
    
}

/* Header style starts*/
#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    width: 130px;
    height: 120px;
    margin-left: 100px;
    margin-top: 25px;
    
}

#navbar ul{
    display: flex;
    margin-right: 100px;
    margin-top: 30px;   
}

#navbar ul li a{
    padding: 15px 20px;
    color: black;
    font-weight: 300;
}

#navbar ul li a:hover{
    border-bottom: 2px solid green;
    color: orange;
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1{
    font-size: 3rem;
    font-weight: 600;
}

header .content p{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 20px 0 40px;
}

.primary-text1{
    color: orange;
}

.primary-text2{
    color: green;
}

header * {
   z-index: 10;
}

/*Header style ends*/

/*About start*/
.container{
    max-width: 1500px;
    margin: auto;
    /* background: rgb(255, 225, 169); */
    border-radius: 30px;
}

#about{
    height: 80vh;
    display: flex;
    justify-self: center;
    align-items: center;
    /* background: orange; */
}

#about .title,
#offers .title,
#menu .title{
    text-align: center;
    margin-bottom: 4rem;
}

#about h2,
#menu h2{
    font-size: 2.8rem;
    font-weight: 500;
    color: orange;
}

#about .title p,
#menu .title p{
    font-size: 1rem;
    color: rgb(75, 75, 75);
    margin-top: 10px;
}

#about .about-content{
    display: flex;
    justify-content: space-between;
}

#about .about-content img{
    width: 450px;
}

#about .about-content p{
    color: rgb(75, 75, 75);
    margin-right: 7rem;
    font-weight: 400;
    line-height: 100%;
    font-size: 1.2rem;
}
/*About end*/

/*Offers start*/
#offers{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 226, 191);
}

#offers h2{
    font-size: 2.8rem;
    font-weight: 500;
    color: green;
}

#offers .title p{
    color: rgb(75, 75, 75);
    font-weight: 600;
}

#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

#offers .offers-items img{
    width: 200px;
}

#offers .offers-items span{
    color: rgb(252, 138, 57);
    font-size: 1.2rem;
    font-weight: 500;
    
}

#offers .offers-items h3{
    font-size: 1.3rem;
    margin: 15px 0px;
    font-weight: 400;
}
/*Offers end*/

/*Menu start*/

#menu{
    background-color: white;
    padding: 5rem 0;
}

#menu .menu-items .menu-item{
    display: flex;
    align-items: center;
    margin: 40px;
}

#menu .menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item img{
    width: 80px;
    border-radius: 40px;
    margin-right: 25px;
}

#menu .menu-items .menu-item h3{
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px dashed rgb(167, 167, 167);
    padding-bottom: 10px;
}

#menu .btn{
    background-color: orange;
    color: white;
    border:3px solid green;
    border-radius: 20px;
    display: block;
    margin: 20px auto 0;
    font-size: 14px;
    cursor: pointer;
}

#menu .btn:hover{
    background-color: green;
    color: orange;
}
/*Menu end*/

/*Daytime start*/

#daytime{
    background-color: rgb(252, 226, 191);
    color: green;
}

#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#daytime .daytime-items h3{
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0;
}

#daytime .daytime-items p{
    color: gray;
    font-weight: 500;
}
/*Daytime end*/

/*Gallery start*/
#gallery{
    padding: 8rem 0 6rem;
    background-color: rgb(252, 226, 191);
    
}

#gallery h2{
    color: green;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
#gallery .img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallery .img-gallery img{
    width: 280px;
    height: 240px;
    border-radius: 15px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

#gallery .img-gallery img:hover{
    opacity: 1;
}
/*Gallery end*/

/*Contact start*/

#contact{
    padding: 5rem 0;
    background-color: white;
}

#contact .container{
    max-width: 900px;
}

#contact .contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-content .contact-info{
    width: 50%;
}

#contact .contact-content .contact-info div{
    margin: 30px 0;
    line-height: 1.7;
}

#contact .contact-content .contact-info h3{
    font-size: 28px;
    font-weight: 500;
    color: orange;
    margin-bottom: 10px;
}

#contact .contact-content .contact-info p{
    color: rgb(75, 75, 75);
    margin-right: 5px;
    font-size: 1.1rem;
}

#contact .contact-content .contact-info i{
    margin-right: 10px;
}

#contact .contact-content .contact-info a i{
    color: gray;
    font-size: 2rem;
    align-items: center;
    /* background-color: orange; */
    padding: 15px;
    border-radius: 30px;
}

#contact .contact-content .contact-info a i:hover{
    color: green;
}

form{
    width: 50%;
}

form input,
textarea{
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border-radius: 10px;
}

#contact .btn{
    background-color: orange;
    color: white;
    cursor: pointer;
    border: 2px solid green;
}

#contact .btn:hover{
    background-color: green;
}
/*Contact end*/

/*Footer start*/

#footer{
    background-color: rgb(252, 226, 191);
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
}

#footer a{
    color: rgb(255, 136, 0);
}

/* ---------------------- RESPONSIVE ---------------------- */

/* Large Tablets and Small Laptops */
@media (max-width: 1024px) {
    header .content h1 {
        font-size: 2.3rem;
        text-align: center;
        padding: 0 20px;
    }

    header .content p {
        font-size: 1.1rem;
        text-align: center;
        padding: 0 20px;
    }

    #navbar img {
        margin-left: 20px;
    }

    #navbar ul {
        margin-right: 20px;
    }

    #about .about-content img {
        width: 350px;
    }

    #menu .menu-items {
        flex-direction: column;
    }

    #daytime .daytime-items {
        flex-wrap: wrap;
        gap: 40px;
        height: auto;
        padding: 40px 0;
    }
}

/* Tablets */
@media (max-width: 768px) {
    #navbar ul {
        display: none;
    }

    #navbar {
        padding: 0 20px;
    }

    header .content h1 {
        font-size: 2rem;
    }

    #about {
        height: auto;
        padding: 40px 20px;
    }

    #about .about-content {
        flex-direction: column;
        text-align: center;
    }

    #about .about-content p {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    #offers .offers-items {
        flex-direction: column;
        gap: 20px;
    }

    #menu .menu-items .menu-item img {
        width: 60px;
    }

    #gallery .img-gallery img {
        width: 200px;
        height: 180px;
    }

    #contact .contact-content {
        flex-direction: column;
        gap: 30px;
    }

    form,
    #contact .contact-info {
        width: 100%;
        text-align: center;
    }
}

/* Phones */
@media (max-width: 480px) {
    header {
        height: auto;
        padding-bottom: 40px;
    }

    #navbar img {
        width: 100px;
        height: auto;
        margin: 15px;
    }

    header .content h1 {
        font-size: 1.6rem;
    }

    header .content p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .btn {
        padding: 12px 22px;
        font-size: 12px;
    }

    #about .about-content img {
        width: 250px;
        display: none;
    }

    #about h2{
        font-size: 1.2rem;
    }

    #offers h2{
        font-size: 1.3rem;
    }


    #menu h2{
        font-size: 1.5rem;
    }

    #gallery h2{
        font-size: 1.8rem;
    }

    

    #offers .offers-items h3{
        font-size: 1rem;
    }

    #offers .offers-items span{
        font-size: 1rem;
    }

    #offers .offers-items img{
        width: 100px;
    }

    #gallery .img-gallery img {
        width: 160px;
        height: 150px;
        margin: 10px;
    }

    #daytime .daytime-items{
        height: 900px;
    }

    #daytime .daytime-items h3{
        font-size: 1.2rem;
    }

    #contact .contact-content .contact-info h3{
        font-size: 19px;
    }

    #contact .contact-content .contact-info p{
        font-size: 1rem;
    }

    #contact .contact-content .contact-info a i{
        font-size: 1.3rem;
    }

    form input,
    textarea{
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
    }

    form{
    width: 80%;
    }

    #footer {
        font-size: .69rem;
        padding: 15px;
    }
}
